@import '~antd/dist/antd.css';

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.About-header {
    background-color: #ffffff;
    flex-direction: column;
    border-bottom-color: #2d436f;
    border-bottom-width: 0.5vmin;
    border-bottom-style: solid;
    color: white;
}

.About-logo {
    margin: 1vmin;
    height: 5vmin;
    pointer-events: none;
}

.About-title {
    display: flex;
    margin-top: 5vmin;
    margin-left: 5vmin;
    height: 85vmin;
    .title {
        margin-left: 5vmin;
    }
}

.About-body {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
}

.Side-image {
    width: 40vw;
    background-image: linear-gradient(#e8e8e8, #ffffff);
    .image {
        margin-top: 5vmin;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

.About-content {
    width: 60vw;
    margin-top: 5vmin;
    margin-left: 5vmin;
    background-color: #ffffff;
    justify-content: center;
    .form {
        width: 50vmin;
        margin-top: 3vmin;
        .form-input {
            border-radius: 1vmin;
        }
        .name {
            width: 24vmin;
        }
        .last-name {
            margin-left: 2vmin;
            width: 24vmin;
        }
        .about-form-button {
            border-radius: 1vmin;
        }
    }
}

.About-form-button {
    background-color: #2d436f;
    border-radius: 1vmin;
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 100vh;
    .form {
        width: 400px;
        margin: auto;
        .login-form-button {
            width: 100%;
        }
    }
}




